# JOIN

In [5]:
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[12,34,55,66]})
var2 = pd.DataFrame({"C":[13,25],"D":[34,34]})

var1.join(var2)

   A   B     C     D
0  1  12  13.0  34.0
1  2  34  25.0  34.0
2  3  55   NaN   NaN
3  4  66   NaN   NaN

In [13]:
var2.join(var1, how = "outer")

      C     D  A   B
0  13.0  34.0  1  12
1  25.0  34.0  2  34
2   NaN   NaN  3  55
3   NaN   NaN  4  66

# APPEND

In [9]:
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[12,34,55,66]})
var2 = pd.DataFrame({"C":[13,25],"D":[34,34]})

var1.append(var2)

AttributeError: 'DataFrame' object has no attribute 'append'