# MERGE

In [17]:
import pandas as pd
var1 = pd.DataFrame({"A":[1,3,5,7],"B":[98,76,54,32]})
var2 = pd.DataFrame({"A":[1,3,5,8],"B":[8,6,4,2]})

pd.merge(var1,var2,on = "A",how = 'outer',indicator = True)

   A     B    C      _merge
0  1  98.0  8.0        both
1  3  76.0  6.0        both
2  5  54.0  4.0        both
3  7  32.0  NaN   left_only
4  8   NaN  2.0  right_only

In [19]:
pd.merge(var1,var2,left_index = True,right_index  = True, suffixes = ("name","id"))

   Aname   B  Aid  C
0      1  98    1  8
1      3  76    3  6
2      5  54    5  4
3      7  32    8  2

# CONCAT

In [5]:
import pandas as pd

sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([21,32,43,64])

pd.concat([sr1,sr2])

0     1
1     2
2     3
3     4
0    21
1    32
2    43
3    64
dtype: int64

In [20]:
var1 = pd.DataFrame({"A":[1,3,5,7],"B":[98,76,54,32]})
var2 = pd.DataFrame({"A":[1,3,5,6],"C":[8,6,5,8]})
pd.concat([var1,var2],axis=1,join= 'outer',keys =['d1','d2'])

  d1     d2
   A   B  A  C
0  1  98  1  8
1  3  76  3  6
2  5  54  5  5
3  7  32  6  8